name: Pylint

on:
  push:
    paths:
      - 'finder/python/**'
    branches: [ master ]
  pull_request:
    paths:
      - 'finder/python/**'
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['2.7', '3.6', '3.7', '3.8', '3.9']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint pytest
    - name: Install via setup.py
      run: |
        cd finder/python
        python setup.py install
    - name: Analysing the code with pylint
      run: |
        cd finder/python
        pylint tests/ appium_flutter_finder/
    - name: Run tests
      run: |
        cd finder/python
        pytest tests/**
